<div class="container">
  <div class="page-title">{{title}}</div>
  <form class="content">
    <div class="content-edit">
      <div class="image-column">
        <div class="profile-image-div">
          <img width="180px" [src]="imageSrc || '../../../assets/images/profile.jpeg'" alt="">
        </div>
        <div class="btn-upload">
          <label for="upload-image">Click to upload image</label>
          <input (change)="previewImage($event)" type="file" accept="image/png, image/gif, image/jpeg" id="upload-image">
        </div>
      </div>
      <div class="edit-form-column mulish-text">

        <div class="edit-form-input-group">
          <div class="form-input-div">
            <input type="text" placeholder="First Name" required>
          </div>

          <div class="form-input-div">
            <input type="text" placeholder="Last Name" required>
          </div>
        </div>

        <div class="edit-form-input-group">
          <div class="form-input-div">
            <input type="number" placeholder="Phone Number" required>
          </div>

          <div class="form-input-div">
            <input type="text" placeholder="Email" required>
          </div>
        </div>

        <div class="edit-form-input-group">
          <div class="form-input-div">
            <input type="text" placeholder="Bike ID" required>
          </div>

          <div class="form-input-div">
            <input type="text" placeholder="Rider ID" required>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-btn">
      <button type="submit" class="btn-save">Save</button>
    </div>

  </form>
</div>
