/* .container {
    background: #f6f6f6 !important;
    position: absolute;
    in-width: 100%;
    min-height: 100%;
    z-index: 1;
}

.content {
    left: 242px;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background: #F7F7F7 !important;
    background: #f6f6f6 !important;
} */
