<div class="container">
  <div class="page-title">{{title}}</div>
  <div class="content">
    <div class="content-details">
      <div class="image-grid">
        <div class="profile-image-div">
          <img width="180px" src="../../../assets/images/profile.jpeg" alt="">
        </div>
      </div>
      <div class="info-details-grid mulish-text">
          <div>
            <span>First Name:</span>
            <data>Kwaku</data>
          </div>

          <div>
            <span>Last Name:</span>
            <data>Killa</data>
          </div>

          <div>
            <span>Phone Number:</span>
            <data>054342322</data>
          </div>

          <div>
            <span>Email:</span>
            <data>2</data>
          </div>

          <div>
            <span>Bike ID:</span>
            <data>#453FG</data>
          </div>

          <div>
            <span>Rider ID:</span>
            <data>ST1264:</data>
          </div>

          <div>
            <span>Orders Received:</span>
            <data>22</data>
          </div>

          <div>
            <span>Orders Delivered:</span>
            <data>20</data>
          </div>

          <div>
            <span>Orders Canceled:</span>
            <data>2</data>
          </div>

          <div>
            <span>Monthly Orders Received:</span>
            <data>122</data>
          </div>

          <div>
            <span>Monthly Orders Delivered:</span>
            <data>120</data>
          </div>

          <div>
            <span>Monthly Orders Canceled:</span>
            <data>2</data>
          </div>
      </div>
    </div>
    <div class="footer-btn">
      <!-- <div></div> -->
      <button class="btn-reset-password">Reset Password</button>
    </div>
  </div>
</div>
