.content {
  background: transparent !important;
  height: auto;
}

.detail-nav {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
}

.content-details {
  display: grid;
  grid-template-columns: 2fr 8fr;
  justify-content: space-around;
  align-content: space-between;
  justify-self: center;
  align-self: center;
  align-content: space-around;
}
.info-details-grid {
  display: flex;
  flex-direction: column;
}

.info-details-grid div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  border-bottom: solid 1px #D9D9D9;

  padding: 14px;
}
.mulish-text {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  display: flex;
  /* align-items: center; */
  color: #6B7280;
}
.profile-image-div {
  width: 200px;
  height: 200px;
  padding: 0px;
  /* border: solid 1px red; */
}
.profile-image-div img {
  border-radius: 50%;
}
