<div class="container">
  <div class="page-title">{{title}}</div>
  <div class="content">
    <div class="detail-nav">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 8C13.1 8 14 7.1 14 6C14 4.9 13.1 4 12 4C10.9 4 10 4.9 10 6C10 7.1 10.9 8 12 8ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10ZM12 16C10.9 16 10 16.9 10 18C10 19.1 10.9 20 12 20C13.1 20 14 19.1 14 18C14 16.9 13.1 16 12 16Z" fill="#9A9AB0"/>
      </svg>
    </div>
    <div class="content-details">
      <div class="image-grid">
        <div class="profile-image-div">
          <img width="180px" src="../../../assets/images/profile.jpeg" alt="">
        </div>
      </div>
      <div class="info-details-grid mulish-text">
          <div>
            <label for="name">Name:</label>
            <data id="name">Shatta Wale</data>
          </div>

          <div>
            <label for="email">Email:</label>
            <data id="email">wote@gmail.com</data>
          </div>

          <div>
            <label for="number">Number:</label>
            <data id="number">0553233426</data>
          </div>

          <div>
            <label for="dailyOrders">Daily Orders:</label>
            <data id="dailyOrders">3</data>
          </div>

          <div>
            <label for="monthlyOrders">Monthly Orders:</label>
            <data id="monthlyOrders">10</data>
          </div>
      </div>
    </div>
  </div>
</div>
