/* .container {
    position: relative;
    z-index: 1;
    padding: 20px;
} */

.card-items {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.card-item {
  display: flex;
  width: 185px;
  height: 100px;
  background: #FFFFFF;
  border-radius: 8px;
  margin: 12px;
  justify-content: space-between;
  overflow-wrap: break-word;
  padding-left: 12px;
  padding-right: 12px;
}
.card-item-label {
  display: grid;
  grid-template-rows: auto auto;
  /* border: solid 1px red; */
  align-items: center;
  justify-content: center;
}
.card-item-growth {
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-item-label-text {
  /* margin: 12px; */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  /* line-height: 120%; */
  letter-spacing: 0.005em;
  color: #111420;
}
.card-item-growth-text {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: right;
  letter-spacing: 0.005em;
}
.success-text {
  color: #42BDA1;
}
.danger-text {
  color: #F04461;
}

.orders-data-table{
  margin: 16px;
  width: 100%;
  display: block;
  background: #FFFFFF;
  border-radius: 8px;
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 14px;
}
.mat-elevation-z8{
  overflow-x:auto;
}
.orders-data-table-caption {
  padding: 15px;
}
table {
  width: 100%;
  border-width: 0px;
  /* overflow-x: auto; */
}

th {
  background: #F7F7FC;
  border-width: 0px ;
}
/* tr,table.mat-table, td {
  border-width: 0px !important;
} */
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 0px;
  border-bottom-style: none;
  word-wrap: break-word;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 16px 20px 22px;
}

tr {
  font-weight: 500;
}

.order-chart {
  /* background: #FFFFFF; */
  margin: 16px;
  display: grid;
  grid-template-columns: 8fr 2.2fr;
  gap: 14px;
  justify-content: space-between;
  width: 100%;
}
.chart {
  background: #FFFFFF;
  padding: 14px;
  border-radius: 8px;
}
.chart-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chart-filter {
  /* height: 49.57px; */
  background: #F8F8FF;
  border-radius: 14.7687px;
}
.chart-label-button {
  background: transparent;
  border-width: 0px;
  cursor: pointer;
  margin: 4px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* line-height: 16px; */
  text-align: center;
  color: #9291A5;
}
.active-chart {
  color: #FFFFFF;
  background: #FC555E;
  border-radius: 13px;
}
.chart-filter {
  background: #F8F8FF;
  border-radius: 14.7687px;
  display: flex;
  flex-direction: row;
}
.chart-caption {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #11142D;
}

.key-performance {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.key {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 8px;
  padding: 18px;
  /* border: solid 1px #42BDA1; */
  /* width: minmax(100%, 200%); */
}
.key-title {
  display: flex;
  flex-direction: row;
}
.key-title  h2{
  background: #F8F8FF;
  border: 1px solid #FFBDC0;
  border-radius: 10px;

  /* font */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  /* line-height: 120%; */
  letter-spacing: 0.07em;
  color: #202020;
  padding: 9px;

  margin: 3px;
}
.key-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 4px;
}
.key-item {
  display: flex;
  flex-direction: row;
  margin: 6px;
}
.key-text {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #1C1C1C;
  padding: 3px;
}

.key-color {
  display: block;
  width: 15px;
  height: 15px;
  background: var(--code);
  border-radius: 4px;
}
.performance {
  background: #FFFFFF;
  border-radius: 8px;
  margin-top: 12px;
}
.performance-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px;
}

.performance-title-head {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #11142D;
}

.performance-title-value {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #6D6D6D;
}

.performance-progress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  padding: 8px;
}
.progress {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(#FC555E var(--progress), #f6f6f6 0deg);
  font-size: 0;
  rotate: 180deg;
  margin: 8px;
}

.progress::after {
  content: attr(data-progress) '%';
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 10px;
  border-radius: 50%;
  background: white;
  font-size: 1rem;
  text-align: center;
  rotate: 180deg;

  color: #FC555E;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: large;
}

.performance-footer {
  display: flex;
  flex-direction: column;
  /* word-wrap: break-word;
  justify-content: flex-start; */
  padding: 12px;
}

.performance-footer-rate {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  letter-spacing: 0.005em;
  color: #FC555E;
  padding: 4px;
  display: table-cell;
  vertical-align: middle;
}
.performance-footer-docs {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #918D8D;
}

.chart-diagram {
  padding: 12px;
}
