<div class="container">
    <div class="content">
      <!-- Cards  -->
        <div class="card-items">
          <!-- Riders card -->
          <div class="card-item">
            <div class="card-item-label">
              <div class="card-item-label-text">Riders</div>
              <div class="card-item-label-text">122</div>
            </div>
            <div class="card-item-growth">
              <div class="card-item-icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.19533 7.5283L3.13799 8.47097L7.33333 4.27563V13.333H8.66666V4.27563L12.862 8.47097L13.8047 7.5283L7.99999 1.72363L2.19533 7.5283Z" fill="#42BDA1"/>
                </svg>
              </div>
              <div class="card-item-growth-text success-text">+ 20%</div>
            </div>
          </div>

          <!-- Vendors card -->
          <div class="card-item">
            <div class="card-item-label">
              <div class="card-item-label-text">Vendors</div>
              <div class="card-item-label-text">1000</div>
            </div>
            <div class="card-item-growth">
              <div class="card-item-icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.66668 11.7243V2.66699H7.33334V11.7243L3.13801 7.52899L2.19534 8.47166L8.00001 14.2763L13.8047 8.47166L12.862 7.52899L8.66668 11.7243Z" fill="#F04461"/>
                </svg>
              </div>
              <div class="card-item-growth-text danger-text">- 15%</div>
            </div>
          </div>
          <!-- Users card -->
          <div class="card-item">
            <div class="card-item-label">
              <div class="card-item-label-text">Users</div>
              <div class="card-item-label-text">3000</div>
            </div>
            <div class="card-item-growth">
              <div class="card-item-icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.66668 11.7243V2.66699H7.33334V11.7243L3.13801 7.52899L2.19534 8.47166L8.00001 14.2763L13.8047 8.47166L12.862 7.52899L8.66668 11.7243Z" fill="#F04461"/>
                </svg>
              </div>
              <div class="card-item-growth-text danger-text">- 15%</div>
            </div>
          </div>
          <!-- Orders card -->
          <div class="card-item">
            <div class="card-item-label">
              <div class="card-item-label-text">Orders</div>
              <div class="card-item-label-text">1000</div>
            </div>
            <div class="card-item-growth">
              <div class="card-item-icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.66668 11.7243V2.66699H7.33334V11.7243L3.13801 7.52899L2.19534 8.47166L8.00001 14.2763L13.8047 8.47166L12.862 7.52899L8.66668 11.7243Z" fill="#F04461"/>
                </svg>
              </div>
              <div class="card-item-growth-text danger-text">- 15%</div>
            </div>
          </div>
          <!-- Total monthly orders card -->
          <div class="card-item">
            <div class="card-item-label">
              <div class="card-item-label-text">Total Monthly Orders</div>
              <div class="card-item-label-text">13000</div>
            </div>
            <div class="card-item-growth">
              <div class="card-item-icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.66668 11.7243V2.66699H7.33334V11.7243L3.13801 7.52899L2.19534 8.47166L8.00001 14.2763L13.8047 8.47166L12.862 7.52899L8.66668 11.7243Z" fill="#F04461"/>
                </svg>
              </div>
              <div class="card-item-growth-text danger-text">- 15%</div>
            </div>
          </div>
          <!--  Total revenue card-->
          <div class="card-item">
            <div class="card-item-label">
              <div class="card-item-label-text">Total Revenue</div>
              <div class="card-item-label-text">GH₵33000</div>
            </div>
            <div class="card-item-growth">
              <div class="card-item-icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.19533 7.5283L3.13799 8.47097L7.33333 4.27563V13.333H8.66666V4.27563L12.862 8.47097L13.8047 7.5283L7.99999 1.72363L2.19533 7.5283Z" fill="#42BDA1"/>
                </svg>
              </div>
              <div class="card-item-growth-text success-text">+ 15%</div>
            </div>
          </div>
          <!-- Monthly revenue card -->
          <div class="card-item">
            <div class="card-item-label">
              <div class="card-item-label-text">Monthly Revenue</div>
              <div class="card-item-label-text">GH₵12000</div>
            </div>
            <div class="card-item-growth">
              <div class="card-item-icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.19533 7.5283L3.13799 8.47097L7.33333 4.27563V13.333H8.66666V4.27563L12.862 8.47097L13.8047 7.5283L7.99999 1.72363L2.19533 7.5283Z" fill="#42BDA1"/>
                </svg>
              </div>
              <div class="card-item-growth-text danger-text">+ 12%</div>
            </div>
          </div>
        </div>

        <!-- Oders Table -->
        <div class="orders-data-table">
          <div class="orders-data-table-caption">Recent Orders</div>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

              <ng-container matColumnDef="orderId">
                <th mat-header-cell *matHeaderCellDef> Order ID </th>
                <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
              </ng-container>

              <ng-container matColumnDef="productID">
                <th mat-header-cell *matHeaderCellDef> Product ID </th>
                <td mat-cell *matCellDef="let element"> {{element.productID}} </td>
              </ng-container>

              <ng-container matColumnDef="restaurantName">
                <th mat-header-cell *matHeaderCellDef> Restaurant </th>
                <td mat-cell *matCellDef="let element"> {{element.restaurantName}} </td>
              </ng-container>

              <ng-container matColumnDef="customerName">
                <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
              </ng-container>

              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef> Location </th>
                <td mat-cell *matCellDef="let element"> {{element.location}} </td>
              </ng-container>

              <ng-container matColumnDef="orderStatus">
                <th mat-header-cell *matHeaderCellDef> Order Status </th>
                <td class="order-status" mat-cell *matCellDef="let element"> <span class="bg-success">{{element.orderStatus}}</span> </td>
              </ng-container>

              <ng-container matColumnDef="deliveredTime">
                <th mat-header-cell *matHeaderCellDef> Delivered ime </th>
                <td mat-cell *matCellDef="let element"> {{element.deliveredTime}} </td>
              </ng-container>

              <ng-container matColumnDef="deliveryPrice">
                <th mat-header-cell *matHeaderCellDef> Delivery Price </th>
                <td mat-cell *matCellDef="let element"> {{element.deliveryPrice}} </td>
              </ng-container>

              <ng-container matColumnDef="foodAmount">
                <th mat-header-cell *matHeaderCellDef> Food Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.foodAmount}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

          </div>

          <mat-paginator class="tbl-pagination" [pageSizeOptions]="[5]" aria-label="No. of Trending Orders on a page"></mat-paginator>

        </div>

        <div class="trending-orders">
          <div class="txt-head">
            <h2 class="trending-text">Trending Orders</h2>
          </div>
          <div class="trending-orders-items">
            <div class="trending-orders-item">
              <h2 class="trending-text">Wonder wings</h2>
              <div class="trending-progress-outer">
                <div class="trending-progress-inner bg-order-success-progress" style="width: 90%;"></div>
              </div>
            </div>
            <div class="trending-orders-item">
              <h2 class="trending-text">Piza Pine</h2>
              <div class="trending-progress-outer">
                <div class="trending-progress-inner bg-order-success-progress" style="width: 85%;"></div>
              </div>
            </div>
            <div class="trending-orders-item">
              <h2 class="trending-text">Full Chicken</h2>
              <div class="trending-progress-outer">
                <div class="trending-progress-inner bg-order-success-progress" style="width: 80%;"></div>
              </div>
            </div>
            <div class="trending-orders-item">
              <h2 class="trending-text">Fried Chickekn</h2>
              <div class="trending-progress-outer">
                <div class="trending-progress-inner bg-order-success-progress" style="width: 75%;"></div>
              </div>
            </div>
            <div class="trending-orders-item">
              <h2 class="trending-text">Fried Rice</h2>
              <div class="trending-progress-outer">
                <div class="trending-progress-inner bg-order-success-progress" style="width: 60%;"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="trending-orders-note-2">
          <div class="txt-head">
            <h2 class="trending-text">Trending Orders</h2>
          </div>

          <div class="trending-orders-note-2-items">
            <div class="trending-orders-note-2-item">
              <h2 class="trending-text">Total Orders</h2>
              <div class="trending-progress-outer">
                <div class="trending-progress-inner bg-order-success-progress" style="width: 80%;"></div>
              </div>
              <h2 class="trending-progress-percentage trending-text">80%</h2>
            </div>
            <div class="trending-orders-note-2-item">
              <h2 class="trending-text">New Orders</h2>
              <div class="trending-progress-outer">
                <div class="trending-progress-inner bg-order-success-progress" style="width: 90%;"></div>
              </div>
              <h2 class="trending-progress-percentage trending-text">90%</h2>
            </div>
            <div class="trending-orders-note-2-item">
              <h2 class="trending-text">Canceled Partner Orders</h2>
              <div class="trending-progress-outer">
                <div class="trending-progress-inner bg-order-bounced-progress" style="width: 60%;"></div>
              </div>
              <h2 class="trending-progress-percentage trending-text">60%</h2>
            </div>
            <div class="trending-orders-note-2-item">
              <h2 class="trending-text">Declined Rider Order</h2>
              <div class="trending-progress-outer">
                <div class="trending-progress-inner bg-order-bounced-progress" style="width: 13%;"></div>
              </div>
              <h2 class="trending-progress-percentage trending-text">13%</h2>
            </div>
          </div>

        </div>
    </div>
</div>
<router-outlet></router-outlet>
