
.mat-forom-field {
  /* background: #FFFFFF; */
  padding: auto;
  /* margin: 0px 0 20px 0; */
}
mat-form-field {
  background: rgba(75, 69, 69, 0.05);
  border-radius: 10px;
  width: 322px;
  padding: 2px;
  margin: 20px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 10fr;
  justify-content: center;
  align-items: center;
}

mat-form-field i{
  margin: 5px 5px 0px 5px;
  justify-self: center;
}

mat-form-field input {
  border-width: 0px;
  background: transparent;
  outline: none;
  padding: auto;
}

mat-menu {
  position: fixed !important;

}

.content {
  background: #FFFFFF;
  /* margin: 12px; */
  border-radius: 10px;
}

.mat-elevation-z8{
  overflow-x:auto;
}

table {
  /* width: 100%; */
  border-width: 0px;
  background: #FFFFFF;
  font-family: 'Mulish';
  font-style: normal;
  color: #11142D;
}

th {
  background: #F7F7FC;
  border-width: 0px;
  font-weight: 700;
  font-size: 14px;
}
td {
  font-weight: 200;
  font-size: 16px;
  background: #FFFFFF;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 0px;
  border-bottom-style: none;
  word-wrap: break-word;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 16px 20px 22px;
}

tr {
  font-weight: 500;
  position: relative;
}
td {
  position: relative;
}

.btn-table-symbol {
  background: transparent;
  outline: none;
  border-width: 0px;
  cursor: pointer;
}

.tooltip-box {
  width: 109px;
  height: 73px;
  left: 1185px;
  top: 360px;
  background: #FFFFFF;
  box-shadow: 0px 0px 0px 1px rgba(152, 161, 179, 0.1), 0px 15px 35px -5px rgba(17, 24, 38, 0.15), 0px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.menu-bg {
  position: fixed;
  background: #fff0;
  /* background: red; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.menu {
  position: absolute;
  width: 104px;
  background: #FFFFFF;
  box-shadow: 0px 0px 0px 1px rgba(152, 161, 179, 0.1), 0px 15px 35px -5px rgba(17, 24, 38, 0.15), 0px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 6px;
  gap: 8px;
  display: none;
  margin-left: -100px;
  margin-top: -70px;
  z-index: 2;
}

.menu-item{
  background: transparent;
  border-width: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #464F60;
  cursor: pointer;
}

.menu-item:hover {
    background: #464F60;
    color:#FFFFFF;
    transition: 0.7s;
}
