<div class="container">
  <div class="page-title">{{title}}</div>
  <div class="content">
    <div class="content-details">
      <div class="image-grid">
        <div class="profile-image-div">
          <img width="180px" src="../../../assets/images/profile.jpeg" alt="">
        </div>
      </div>
      <div class="info-details-grid mulish-text">
          <div>
            <span>Type of Establishment:</span>
            <data>Food</data>
          </div>

          <div>
            <span>Orders Received:</span>
            <data>132</data>
          </div>

          <div>
            <span>Orders Processed:</span>
            <data>130</data>
          </div>

          <div>
            <span>Declined orders:</span>
            <data>2</data>
          </div>

          <div>
            <span>Monthly Orders Received:</span>
            <data>1500</data>
          </div>

          <div>
            <span>Montly Orders Processed:</span>
            <data>#3RJD6$:</data>
          </div>

          <div>
            <span>Monthly Orders Declined:</span>
            <data>50</data>
          </div>
      </div>
    </div>
  </div>
</div>
